<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">

    <app-update-client
      [client]="updatedClient"
      [ajout]="ajout"
      (clientUpdated)="clientUpdated($event)">

    </app-update-client>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Nom Client</th>
          <th>Prenom Client</th>
          <th>Adresse</th>
        </tr>
        </thead>
        <tbody *ngFor="let client of clients">
        <tr>
          <td>{{ client.idClient }}</td>
          <td>{{ client.nomClient }}</td>
          <td>{{ client.prenomClient }}</td>
          <td>{{ client.adresse }}</td>
          <td><a class="btn btn-success" (click)="updateClient(client)">Editer</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
